


h1{
    text-align: center;
    background-color: black;
    color: white;
}

hr{
     

    box-shadow:  5px     #888888;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
.contactus{
    background-color: darkolivegreen;
    
    color: white;
}
